<footer class="container">
  <h4>Proyectos <a href="#"><svg class="plus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
        class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
      </svg></a></h4>
  <h6>portafolio Web</h6>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat delectus perferendis dolore incidunt eaque
    consequuntur quod, ullam ut iste consequatur, recusandae culpa doloribus. Odit, quaerat ipsam! Quia,
    perferendis
    quis. Consequatur!</p>
  <hr>
  <h6>Carrito de Compras</h6>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quibusdam quo ullam at! Suscipit voluptatum
    ipsum obcaecati quidem quis explicabo aperiam hic fugit neque a cupiditate, officia rem vitae quibusdam.</p>

</footer>