<div class="container">
<section >
    <article >
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto  bd-highlight">
          <h3 class="subNames">Acerca De:</h3>
          <p class="subNams" >Full Stack Developer, apasionado de JavaScrpit, Java y GNU/Linux</p>
          <hr>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight"><a href="#"> <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></a></div>
          <div class="p-2 bd-highlight"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg></a></div>
        </div>
      </div>
    </article>
    <article id="ver">
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto  bd-highlight">
          <h3 class="name">Experiencia:</h3>
          
          <a href="#"><img class="alkemy" src="../assets/alkemy.png" alt="alkemy"></a>
          <h4 class="subNames">alkemy Academy(Aceleracion en Node.js)</h4>
          <p class="subNames">Autenticacion-Integracion con apis externas-Seguridad-Integracion cliente-servidor-
            Modelado de base de datos-Persistencia-optimizacion de consultas-Testing
          </p>
            <hr>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight"><a href="#"> <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></a></div>
          <div class="p-2 bd-highlight"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg></a></div>
        </div>
      </div>

    </article>
    <article >
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto  bd-highlight">
          <h3 class="name">Educacion:</h3>
          <h5 class="subNames">Colegio
            Modelo Marmol</h5>
          <p class="subNames">-Bachillerato en economia y gestion de empresas (Egresado 2005)</p>  
            <hr>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight"><a href="#"> <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></a></div>
          <div class="p-2 bd-highlight"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg></a></div>
        </div>
      </div>
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto  bd-highlight">
          <a href="#"><img class="argentinaPrograma" src="../assets/argentinaPrograma.png" alt="argentinaPrograma"></a>
         <h4>Argentina Programa</h4>  
         <p class="subNames">Full Stack Web Developer JR (egreso 2022) </p>
            <hr>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight"><a href="#"> <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></a></div>
          <div class="p-2 bd-highlight"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg></a></div>
        </div>
      </div>

      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto  bd-highlight">
          <a href="#"><img class="teclab" src="../assets/teclab.png" alt="instituto"></a>
         <h4>Instituto Superior Teclab</h4>  
         <p class="subNames">Tecnico Superior Full Stack en programacion (egreso 2022)</p>
            <hr>
        </div>
        <div class="d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight"><a href="#"> <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg></a></div>
          <div class="p-2 bd-highlight"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="dark" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
          </svg></a></div>
        </div>
      </div>
    </article>
  </section>
</div>